.search-results {
    width: 80%;
    margin: 20px auto;
}

.search-results .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.search-results .button-collection {
    display: flex;
    flex-direction: column;
}